@charset "UTF-8";

/* common */
.lp-bg10 {
  background-color: #ffffff;
}
.lp-bg20 {
  background-color: #f1f1f1;
}
.lp-bg30 {
  background-color: #242264;
}
.lp-cnt10 {
  width: 100%;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
}
.lp-cnt10-10 {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
}
.lp-cnt10-20 {
  width: calc(100% - 40px);
  max-width: 1080px;
  margin: 40px auto 0px auto;
  padding: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lp-ttl10 {
  clear: both;
  width: 100%;
  margin: 0px auto 20px auto;
  padding: 50px 0px 0px 0px;
  text-align: center;
}
.lp-h1-10,
.lp-h1-20 {
  font-family: "Noto Serif JP", serif, "游ゴシック", YuGothic, Verdana,
    "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
    sans-serif;
  font-size: 40px;
  line-height: 1.3;
  font-weight: bold;
  color: #242264;
}

/*--------------------------------------------------------------------
PAGE
--------------------------------------------------------------------*/
/* home */
.lp-ttl-img10 {
  width: 100%;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
  text-align: center;
  display: block;
}
.lp-ttl-img10 img {
  width: 100%;
}
.lp-p10 {
  text-align: center;
}
.lp-cnt10-crc10 {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: 25px auto 0px auto;
  padding: 0px 0px 0px 0px;
  display: flex;
  align-items: top;
  justify-content: center;
  align-content: stretch;
}
.lp-dl10 {
  width: calc(33% - 40px);
  margin: 0px 20px 0px 20px;
}
.lp-dl10 dt {
  text-align: center;
  color: #242264;
  font-weight: bold;
}
.lp-dl10 dt img {
  margin: 0px auto 15px auto;
  display: block;
}
.lp-dl10 dd {
  text-align: left;
}
.lp-p20 {
  text-align: left;
}
.lp-ul10 {
  list-style-type: disc;
}
.lp-ul10 li {
  margin: 0px 0px 0px 15px;
}
.lp-spn10 {
  font-size: 14px;
  text-align: left;
}
.lp-cnt10-crc20 {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lp-cnt10-crc20 p {
  width: calc(50% - 20px);
  text-align: center;
}
.lp-cnt10-crc20 p:first-child {
  margin-right: 20px;
}
.lp-cnt10-crc20 p:last-child {
  margin-left: 20px;
}
.lp-cnt10-crc20 p img {
  width: 100%;
  margin: 20px 0px 10px 0px;
}
.lp-p30 {
  clear: both;
  margin: 40px auto 0px auto;
  text-align: center;
}

.lp-cnt10-10-10 {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lp-cnt10-10-10 a:first-child {
  margin-right: 20px;
}
.lp-cnt10-10-10 a:last-child {
  margin-left: 20px;
}
.lp-ttl40 {
  text-align: left;
  margin: 20px 0px 8px 0px;
}
.listttl {
  font-color: #fff;
  text-align: left;
  margin: 20px 0px 8px 0px;
}
.lp-scroll-h10 {
  overflow-x: none;
}
.lp-tbl10 {
  width: 100%;
  border-collapse: collapse;
  margin: 0px 0px 50px 0px;
}
.lp-tbl10 td {
  padding: 10px 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #a1a1a1;
}
.lp-tbl10 tr:first-child td {
  font-weight: bold;
}
.lp-tbl10 td.td-clr10 {
  background-color: #997973;
}
.lp-tbl10 td.td-clr20 {
  background-color: #6f98c6;
}
.lp-tbl10 td.td-clr30 {
  background-color: #d686b1;
}
.lp-tbl10 tr:first-child td:nth-child(1) {
  width: 170px;
}
.lp-tbl10 tr:first-child td:nth-child(2) {
  width: 80px;
}
.lp-tbl10 tr:first-child td:nth-child(3) {
  width: 230px;
}
.lp-tbl10 tr:first-child td:nth-child(4) {
  width: 180px;
}
.lp-tbl10 tr:first-child td:nth-child(5) {
  width: calc(100% - 170px - 80px - 230px - 180px - 8px - 100px);
}
.lp-tbl10 td.lp-clr-whtlbld {
  color: #ffffff;
  font-weight: bold;
}
.lp-cnt10-10-lectr {
  width: 100%;
  margin: 35px 0px 0px 0px;
}
.lp-cnt10-10-lectr-cnt10 {
  width: 100%;
  margin: 0px auto 0px auto;
  padding: 30px 0px 30px 0px;
  display: flex;
  align-items: top;
  justify-content: center;
  border-top: 1px solid #a1a1a1;
}
.lp-dl20 {
  flex: 400px;
  display: flex;
  align-items: top;
  justify-content: center;
}
.lp-dl20 dt,
.lp-dl20 dd {
  flex: 50%;
}
.lp-dl20-10 {
  flex: 100%;
}
.lp-dl20-10 dt {
  margin-bottom: 10px;
}
.lp-dl20-10 dt > span {
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  color: #ffffff;
  background-color: #242264;
  font-weight: bold;
}
.lp-dl20-10 dd {
  margin-bottom: 15px;
  font-size: 18px;
  color: #242264;
  font-weight: bold;
}
.lp-dl20-10 dd:last-child {
  font-size: 26px;
  color: #333333;
  font-weight: bold;
}
.lp-dl30 {
  flex: calc(100% - 400px);
}
.lp-dl30 dt {
  font-size: 18px;
  font-weight: bold;
  color: #242264;
}
.lp-dl30 dd {
  text-align: left;
}

.lp-tbl20 {
  width: 100%;
  border-collapse: collapse;
  margin: 0px 0px 50px 0px;
}
.lp-tbl20 th {
  padding: 10px 10px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-top: 2px solid #242264;
}
.lp-tbl20 td {
  width: calc(100% - 200px - 40px);
  padding: 10px 10px 10px 30px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #a1a1a1;
}
.lp-tbl20 tr:last-child th {
  border-bottom: 2px solid #242264;
}
.lp-tbl20 tr:last-child td {
  border-bottom: 1px solid #a1a1a1;
}
.lp-tbl20 tr:first-child th:nth-child(1) {
  width: 200px;
}
.lp-tbl20 tr:first-child td:nth-child(2) {
  width: calc(100% - 200px - 60px);
}
.lp-h4-10 {
  font-size: 20px;
  font-weight: bold;
  color: #242264;
  margin: 30px 0px -10px 0px;
}
.lp-h4-20 {
  font-size: 17px;
  font-weight: bold;
  color: #333333;
  margin: 20px 0px 5px 0px;
}
.lp-p40 {
  text-align: left;
}
.lp-spn-clr10 {
  color: #ff0000;
}

/*--------------------------------------------------------------------
RESPONSIVE
--------------------------------------------------------------------*/
@media screen and (max-width: 1199px) {
}
/*-------------------- 1024 --------------------*/
@media screen and (max-width: 1024px) {
  .lp-tbl10 tr:first-child td:nth-child(1) {
    width: 120px;
  }
  .lp-tbl10 tr:first-child td:nth-child(2) {
    width: 50px;
  }
  .lp-tbl10 tr:first-child td:nth-child(3) {
    width: 150px;
  }
  .lp-tbl10 tr:first-child td:nth-child(4) {
    width: 130px;
  }
  .lp-tbl10 tr:first-child td:nth-child(5) {
    width: calc(100% - 120px - 50px - 150px - 130px - 8px - 100px);
  }
}
/*-------------------- 768 --------------------*/
@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }

  /*-------------------- sp menu --------------------*/
  .lp-sp-mn-icon-open {
    display: block;
  }
  /*-------------------- fixurl --------------------*/
  .lp-wrap .fixUl {
    top: auto;
    bottom: 0px !important;
    width: 100%;
    display: flex;
  }
  .lp-wrap .fixUl li {
    width: 50%;
  }
  .lp-wrap .fixUl li a {
    width: auto;
    height: auto;
    text-align: center;
    padding: 22px 0 20px !important;
    font-size: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .lp-wrap .fixUl li:last-child {
    margin-top: 0px !important;
  }
  .lp-wrap .fixUl li:last-child a {
    padding: 22px 0 20px !important;
    line-height: 1;
    writing-mode: horizontal-tb;
    vertical-align: middle;
  }
  .lp-wrap .fixUl li:last-child a span {
    display: none;
  }
  /*--------------------------------------------------------------------
		COMM 
	--------------------------------------------------------------------*/
  .lp-cnt10 {
    padding: 0px 0px 0px 0px;
  }
  .lp-cnt10-10 {
    width: calc(100% - 40px);
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
    background: #f1f1f1;
  }
  .lp-cnt10-20 {
    width: calc(100% - 0px);
    margin: 20px auto 0px auto;
    padding: 0px 0px 0px 0px;
    flex-wrap: wrap;
  }
  .lp-link10 {
    width: calc(100% - 75px);
    max-width: 400px;
    margin: 20px 0px 20px 0px;
    padding: 13px 15px 13px 60px;
    text-align: center;
  }
  .lp-link20 {
    width: calc(100% - 55px);
    max-width: 250px;
    padding: 15px 15px 15px 40px;
    margin: 10px auto 10px auto;
    font-size: 17px;
    text-align: center;
  }
  .lp-link30 {
    width: calc(50% - 80px);
    padding: 12px 12px 12px 30px;
  }
  .lp-link30:nth-child(odd) {
    margin: 20px 15px 0px 0px;
  }
  .lp-link30:nth-child(even) {
    margin: 20px 0px 0px 15px;
  }
  /*--------------------------------------------------------------------
		PAGE 
	--------------------------------------------------------------------*/
  /* home */
  .lp-p10 {
    text-align: left;
  }
  .lp-cnt10-10-10 {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .lp-cnt10-10-10 a:first-child,
  .lp-cnt10-10-10 a:last-child {
    margin-left: auto;
    margin-right: auto;
  }
  .lp-cnt10-crc10 {
    width: calc(100% - 0px);
    margin: 15px auto 0px auto;
    padding: 0px 0px 0px 0px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .lp-dl10 {
    width: calc(100% - 0px);
    margin: 0px auto 0px auto;
  }
  .lp-dl10 dt {
    text-align: center;
    color: #242264;
    font-weight: bold;
  }
  .lp-dl10 dt img {
    margin: 15px auto 15px auto;
  }
  .lp-cnt10-crc20 {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .lp-cnt10-crc20 p {
    width: calc(100% - 0px);
    text-align: center;
  }
  .lp-cnt10-crc20 p:first-child,
  .lp-cnt10-crc20 p:last-child {
    margin-right: auto;
    margin-left: auto;
  }
  .lp-cnt10-crc20 p img {
    width: 100%;
    margin: 20px 0px 0px 0px;
  }
  .lp-scroll-h10 {
    overflow-x: scroll;
  }
  .lp-tbl10 {
    width: 100%;
    min-width: 980px;
    margin: 0px 0px 10px 0px;
  }
  .lp-tbl10 tr:first-child td:nth-child(1) {
    width: 150px;
  }
  .lp-tbl10 tr:first-child td:nth-child(2) {
    width: 60px;
  }
  .lp-tbl10 tr:first-child td:nth-child(3) {
    width: 180px;
  }
  .lp-tbl10 tr:first-child td:nth-child(4) {
    width: 160px;
  }
  .lp-tbl10 tr:first-child td:nth-child(5) {
    width: calc(100% - 150px - 60px - 18px - 160px - 8px - 100px);
  }
  .lp-p30 img {
    max-width: 90%;
  }
  .lp-cnt10-10-lectr-cnt10 {
    flex-wrap: wrap;
  }
  .lp-dl20 {
    flex: 100%;
  }
  .lp-dl20 dt,
  .lp-dl20 dd {
    flex: 50%;
  }
  .lp-dl20 dt img {
    max-width: 94%;
  }
  .lp-dl30 {
    flex: 100%;
  }
  .lp-tbl20 {
    width: 100%;
    margin: 0px 0px 50px 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .lp-tbl20 th {
    width: 100%;
    padding: 12px 0px 10px 0px;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
  }
  .lp-tbl20 td {
    width: 100%;
    padding: 12px 0px 10px 0px;
    vertical-align: middle;
    display: inline-block;
  }

  .lp-tbl20 tr:first-child th:nth-child(1) {
    width: 100%;
  }
  .lp-tbl20 tr:first-child td:nth-child(2) {
    width: 100%;
  }
  .lp-tbl20 tr:last-child th {
    border-bottom: none;
  }
  .lp-tbl20 tr:last-child td {
    border-bottom: 2px solid #242264;
  }
}
