@charset "UTF-8";

html {
  overflow-x:hidden;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight:200;
  font-style: normal;

/* ①グレー　②デジタル　③右側　④左側 */

  /* background-color: #434141;
  background-image: 
  url(/assets/images/img_bg_degital_wide.png),
  url(/assets/images/img_right_a.png),
  url(/assets/images/img_left_a.png),
  linear-gradient(to bottom, #000000 5%, #434141 90%);

  background-position: 
  top center, 
  top right, 
  top 300px left,
  top center;

  background-repeat: 
  repeat-y, 
  repeat-y, 
  no-repeat, 
  repeat;

  background-size: 100% auto, 
  100% auto, 
  50% auto;

  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: ;*/
} 


/* 共通設定　 =============================== */

/* font */
.thin {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  }
.thin2 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  }
.regular {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  }

.semibold {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bold {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  }

  /* color */
.c-white {
  color:white;
}
/* ======================================== */



.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}




/* 
formarea
 */
.formarea {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 9999;
  bottom: 0px;
  justify-content: center;
}

.formarea-buttom {
  width: 90%;
  background-color: white;
  height: 60px;
}

/* heroarea */
.heroarea {
  background-color: black;
}
.labelarea {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: ;
}
.labelarea-mobile {
  max-width: 600px;
}

/* コンテンツテンプレート ============================ */
.contentstemplate h1 {
  font-size:30px;
  text-align:center;
  color:white;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.contentstemplate {
  display:flex;
  flex-direction:flex-column;
  
}
/* テンプレートの最初のdivの余白設定 */
.contentstemplate div:second-of-type {
  padding-left: 20%;
  padding-right: 20%;
  width:calc(100% - 40%);
}

/* テンプレートのディバイダー下の余白 */
.contentstemplate img:first-of-type {
  margin-bottom: 50px;
}
.mbminus0 {
  margin-bottom:-0px!important;
}


/* コンテンツ */
/* 参加者の声 ============================= */
.voicearea {
  background-color:pink;
  background-image:
  url(/assets/images/img_right_a.png),
  url(/assets/images/img_left_a.png);

  background-position: 
  top -100px right -20%, 
  top 600px left -40px;

  background-repeat: 
  no-repeat, 
  no-repeat;

  background-size:
  85% auto, 
  50% auto;

  width: 100vw;
  height: auto;
  position: relative;

  padding-bottom:180px;
}
.voice-col {
  display:flex;
  flex-direction:column;
  gap:20px;
}
.voice-row {
  display:flex;
  flex-direction:row;
  gap:20px;
}
.voicearea li img {
  max-width:60%;
}
/* 特徴 ================================= */
.featurearea {
  background-color:#92ea9cb8;
  background-image:
  url(/assets/images/img_right_b.png),
  url(/assets/images/img_left_b.png);

  background-position: 
  top 130px right -50px, 
  top 1300px left -30px;

  background-repeat: 
  no-repeat, 
  no-repeat;

  background-size:
  85% auto, 
  70% auto;

  width: 100vw;
  height: auto;
  position: relative;

  padding-bottom:180px;
}

.featurearea blockquote p {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.featurearea figcaption {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-align: left;
}
/* 
.voice-col {
  display:flex;
  flex-direction:column;
  gap:20px;
}
.voice-row {
  display:flex;
  flex-direction:row;
  gap:20px;
}
.voicearea li img {
  max-width:60%;
} */
.list-feature-common {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.list-p-feature-common {
  max-width:320px;
  margin: 0 auto;
  text-align: center"
}
.maxw-50 {
  max-width: 50%
}
.mw-290px {
  max-width:290px;
  display:inline-block;
  text-align:left;
}
.rowgap-50px {
  row-gap: 110px;
}


/* 概要 ===================================== */
/* .summery li {
  padding-bottom: 60px;
  width: auto;
  height:auto
} */
.summery li:last-child {
  padding-bottom: 0;
}
.summery img {
  width: 50px;
  padding-right:10px;
  padding-top: 4px;
  width: 25px;
  align-self:center; 
}
.summeryarea {
  height:70vw;
  width:100%;
}
.summery li {
  --max-padding-bottom: 60px;
  padding-bottom: calc(max(40px, var(--max-padding-bottom)));
  width:auto;
  height:auto;
}





.gradationarea {
  /* ①グレー　②デジタル　③右側　④左側 */

  background-color: #434141;
  background-image: 
  url(/assets/images/img_bg_degital_wide.png),
  linear-gradient(to bottom, #000000 5%, #434141 90%);

  background-position: 
  top 0px center, 
  top right;

  background-repeat: 
  repeat-y, 
  repeat-y;

  background-size: 100% auto, 
  100% auto, 
  50% auto;

  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: ;
}
.graone {
  background-color: black;
  height:500px;
}


/* <767 （未満） */
@media (max-width: 767px) {
  .md\:visible {
    display: none;
  }
}

/* 768>=（以上、mdと同じ）
@media (min-width: 768px) {

  
} */

/* <767 （未満）*/
/* @media (max-width: 767px) {
  
  . {
    
  }
} */