@charset "UTF-8";

.one {
  background-color: #434141;
  background-image: url(/assets/images/img_bg_degital_wide.png),
    url(/assets/images/img_right_a.png), url(/assets/images/img_left_a.png);

  background-position: top center, top right, top left;

  background-repeat: repeat-y, repeat-y, no-repeat;

  background-size: 100% auto, 100% auto, 50% auto;

  width: 100vw;
  height: 100vh;
  position: relative;
}

.content {
  position: absolute;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}
