@charset "UTF-8";

/*　====================

    body,header,footer
===================== */
/* body =========================*/
* {
  margin: 0;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  /* background-image: url(/assets/images/img_test_wide.png);
  background-repeat:repeat;
  height:100vh; */
}

/* color ======================= */
.c-white {
  color: white;
}

/* header */
.header-box {
  height: 60px;
  width: 90%;
  position: fixed;
  bottom: 0px;
  z-index: 9999;
}
/* サイドバー使用 ================ */
.header-sidebutton-left {
  width: 60%;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 0 6px;
}
.header-sidebutton-right {
  width: 40%;
  background-image: linear-gradient(to right, #ff303e, #e18712);
  border-radius: 0 0 6px 0;
}
.header-bar {
  height: 60px;
  width: calc(100% - 10%);
  bottom: 0px;
  z-index: 9999;
  margin-left: 5%;
  margin-right: 5%;
}
.header-bar-first {
  width: 60%;
  background-color: rgb(25, 244, 244);
  border-radius: 6px 0 0 0;
  box-sizing: border-box;
}
.header-button-left {
  width: 60%;
  background-color: rgb(255, 255, 255);
  border-radius: 6px 0 0 0;
}
.header-button-right {
  width: 40%;
  background-image: linear-gradient(to right, #ff303e, #e18712);
  border-radius: 0 6px 0 0;
}
.icon-size-mail-header {
  width: 28px;
  height: 21px;
}
.header-bar-second {
  width: 40%;
  background-image: linear-gradient(to right, #ff303e, #e18712);
  border-radius: 0 6px 0 0;
  box-sizing: border-box;
}
/* メディアクエリ ================ */
/* （最小768px）769px以上は表示する */
@media screen and (min-width: 768px) {
  .visible-on-medium {
      display: block;
  }
}
/* （最大767px）767px未満はmd\:visibleの場合は */
@media (max-width: 767px) {
  .md\:visible {
    display: none;
  }
}




/* footer */
.section-footer {
  background-color: black;
  height: auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-div {
  margin-top: 20px;
  padding-bottom: 50px;
}

/*　====================

    setting:background
===================== */
/* 背景処理（上層②←下層①） */
.background-layer {
  position: relative;
  z-index: 1;
}

/* ①：全体グレー */
.bg-first {
  background-color: pink;
  min-height: 100%;
  height: 100vh;
  z-index: 2;
}
.bg-first2 {
  background-color: green;
  min-height: 100%;
  height: 100px;
  margin-top: -40px;
  z-index: 1;
}
.bg-image1 {
  position: absolute;
  top: 0px;
  left: 0;
  min-width: 100%;
  height: 100%;
  background-repeat: repeat-y;

  background-image: url(/assets/images/img_bg_degital_wide.png);
  background-size: 100vw auto;
  z-index: 2;
  margin-top: -50px;
}

.bg-second {
  background-color: #434141;
  position: relative;
  overflow: hidden;
  margin-top: 0px;
  z-index: 1;
}
.bg-black-gradation {
  background-image: linear-gradient(to bottom, #000000 5%, rgba(0, 0, 0, 0));
  height: 2000px;
  width: 100%;
  position: absolute;
  top: 800px;
  z-index: 4;
}

/*　====================

    setting:@mdeia
===================== */
/* 767以下の設定 */
/* md:visibleのものはnoneにする */
@media (max-width: 767px) {
  .md\:visible {
    display: none;
  }
}

/* 450以下の設定 */
@media (max-width: 450px) {
  .mw450-size {
    font-size: 13px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: 700;
  }
  .mw450-col {
    flex-direction: column;
  }
}

/* 1500以上の設定 */
@media (min-width: 1500px) {
  .browser-row {
    flex-direction: row;
    gap: 30px;
    width: 100%;
  }
}

/*　====================

    section:hero
===================== */
/* セクション　hero */
.contents-layer {
  position: absolute;
  z-index: 10;
  top: 0;
}

/*　====================

    section:参加者の声
===================== */
.category-black {
  /* background-color: black; */
  height: auto;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.category-black-pb0 {
  /* background-color: black; */
  height: auto;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 0px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.category-gray {
  /* background-color: #434141; */
  height: auto;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.category-gray-pt0 {
  /* background-color: #434141; */
  height: auto;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 60px;
}

/* 参加者の声 */
.member32 {
  max-width: 1200px;
  height: auto;
}
.img-right-a {
    top:-140px;
    right:0px;
    height:auto;
    width:50%;"
  }
  .img-left-a {
    top: 400px;
    left: -10px;
    height: auto;
    width: 50%;"
  }
  .img-right-b {
    top: 120px;
    right: 0px;
    width: 70%;
  }
  .img-left-b {
    top:1100px;
    left:0px;
    width:80%;
  }


/*　====================

    section:特徴
===================== */
/* 特徴 */
.list-feature-common {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .list-p-feature-common {
    max-width:320px;
    margin: 0 auto;
    text-align: center"
  }
  .maxw-50 {
    max-width: 50%
  }
  .mw-260px {
    max-width:260px;
  }
  .m0auto {
    margin: 0px auto;
  }
  .text-left {
    text-align:left;
  }

