@charset "UTF-8";

body {
  padding: 0px;
  margin: 0px;
}

.category-black {
  background-color: black;
  height: auto;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.category-black-pb0 {
  background-color: black;
  height: auto;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 0px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.category-gray {
  background-color: #434141;
  height: auto;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.category-gray-pt0 {
  background-color: #434141;
  height: auto;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 60px;
}

/* グラデーション背景分割 */
.gradient-bg {
  position: relative;
  height: 160px;
}
.gradient-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #000000 5%, #434141 90%);
}

.section-footer {
  background-color: black;
  height: auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .md\:visible {
    display: none;
  }
}

@media (max-width: 450px) {
  .mw450-size12 {
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .mw450-col {
    flex-direction: column;
  }
}

/* 概要 */
ul li.gaiyou {
  margin-bottom: 40px;
  width: auto;
}
ul li.gaiyou:last-child {
  margin-bottom: 0;
}

.background-image.left {
  background-image: url("./assets/images/img_bg_degital_left.png");
  background-repeat: repeat-y;
  background-size: 40% auto;
  background-position: left;
  width: 100%; /* 必要に応じて幅を調整 */
  height: 100vh; /* 必要に応じて高さを調整 */
  z-index: 0;
  padding-top: -3000px;
}

.background-image.right {
  background-image: url("./assets/images/img_bg_degital_right.png");
  background-repeat: repeat-y;
  background-size: 40% auto;
  background-position: right;
  width: 100%; /* 必要に応じて幅を調整 */
  height: 100vh; /* 必要に応じて高さを調整 */
  z-index: 0;
}
