@charset "UTF-8";

body {
  padding: 0px;
  margin: 0px;
}

.category-black {
  background-color: black;
  height: auto;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.category-gray {
  background-color: #434141;
  height: auto;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-footer {
  background-color: black;
  height: auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .md\:visible {
    display: none;
  }
}

@media (max-width: 450px) {
  .mw450-size12 {
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
  }
}
